<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Inventory Report</h3>

<!-- &lt;!&ndash; Top row with form&ndash;&gt;-->
<!-- <div class="row">-->
<!--	 <div class="col-12">-->
<!--			<form class="form-inline" id="inventory-form">-->
<!--			  <div class="form-group">-->
<!--			    <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>-->
<!--			    <div class="col-sm-10">-->
<!--			      <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="enter barcode">-->
<!--			    </div>-->
<!--			  </div>-->
<!--			  <div class="form-group">-->
<!--			    <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>-->
<!--			    <div class="col-sm-10">-->
<!--			      <input type="number" class="form-control" name="quantity" id="inputQuantity" placeholder="enter quantity">-->
<!--			    </div>-->
<!--			  </div>-->
<!--			  <button type="button" class="btn btn-success" id="add-inventory">Add</button>-->
<!--			  &nbsp;-->
<!--			  <button type="button" class="btn btn-primary" id="refresh-data">Refresh</button>-->
<!--			  &nbsp;-->
<!--			  <button type="button" class="btn btn-primary" id="upload-data">Upload</button>-->
<!--			</form>-->
<!--	 </div>	-->
<!--</div> -->


<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-striped" id="inventoryReport-table">
	  <thead>
	    <tr>
	      <th scope="col">Brand</th>
	      <th scope="col">Category</th>
	      <th scope="col">Quantity</th>
	    </tr>
	  </thead>
	  <tbody>

	  </tbody>
	</table>

</div>
</div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/inventoryReport.js}"/></script>

</body>	

</html>